name: Deploy to gh-pages branch

on:
  push:
    branches: [main]
    paths:
      - 'tools/flasher/**'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./tools/flasher
          publish_branch: gh-pages
          force_orphan: true
